.bombshellpink{
  color:#EC008B;
}
.bombshellHeading{
  font-family:'alternate-gothic-no-1-d';
  font-weight:400;
  font-style:normal;
  font-size: 120px;
}
.bombshellSubHeading{
  font-family:'kinescope';
  font-weight:400;
  font-style:normal;
}

.tileleft{
  padding-left:0px;
}

.tileright{
  padding-right:0px
}

.tileFancy{
  font-family:'kinescope';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:black;
  border:1px solid white;
  border-left:none;
  border-right:none;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:10px;

}
.tileBlock{
  font-family:'alternate-gothic-no-1-d';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:black;
  border:1px solid white;
  border-left:none;
  border-right:none;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:0px;
  padding-top:10px;
}
